* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  margin: 0 auto;
}

header {
  background-color: #404041;
  text-align: center;
  padding: 10px 0px 10px 50px;
  margin-bottom: 20px;
}

h1 {
  font-size: 50px;
  letter-spacing: 1.5px;
}

#number {
  color: #ED458B;
  font-weight: 700;
}

#guesser {
  color: #E6E7E8;
  font-weight: 300;
}

.intro {
  font-size: 25px;
  text-align: center;
  display: block;
  width: 30%;
  margin: auto;
  margin-bottom: 15px;

}

.main,
.feedback {
  margin: 40px;
  display: inline-block;
  width: 100%;
  text-align: center;
  margin: 20px;
}

.main {
  margin-top: 0;
}

.setNumRange {
  width: 50%;
  align-items: center;
  display: inline-block;
}



.input-field,
.user-input,
.button {
  width: 200px;
  display: inline-block;
  color: #404041;
  border: 2px solid #E6E7E8;
  font-size: 25px;
  font-weight: inherit;
  margin-top: 20px;
  padding: 5px;
}

.input-field:focus {
  outline-color: #ed458b;
  outline-style: auto;
}

#user-input {
  width: 405px;
  height: 50px;
}

#user-min,
#user-max {
  margin-top: 0;
}

#user-min:disabled,
#user-max:disabled {
  background-color: #929497;
  color: #E6E7E8;

}

.button {
  color: #FFFFFF;
  background-color: #929497;
  border-radius: 25px;
  text-align: center;
  text-decoration: none;
  border: none;
  margin-top: 0;
  width: 190px
}

#guess-button {
  margin-right: 5px;
}

#clear-button {
  margin-left: 5px;
}

.button:disabled {
  background-color: #D0D2D3;
}

.button:hover {
  background-color: #EB008B;
}

.feedback {
  margin-top: 0;
}

h2 {
  color: #404041;
  font-weight: 300;
  margin: 20px;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 30px;
  letter-spacing: 1.5px;
}

#reset-button {
  width: 405px;
}

#last-number {
  color: #EB008B;
  font-size: 150px;
}

#boom {
  color: #EB008B;
  font-size: 50px;

}

#feedback {
  color: #404041;
  font-weight: 300;
  margin: 20px;
  margin-top: 0;
  font-size: 30px;
}

#instruction-paragraph {
  margin: auto;
  width: 40%;
}

a {
  color: #EB008B;
}

#level-section {
  text-align: center;
}

h3 {
  text-align: center;
}

.minmax {
  display: inline-block;
  width: 150px;
  color: #404041;
  border: 2px solid #E6E7E8;
  font-size: 15px;
  font-weight: inherit;
  margin-top: 10px;
  padding: 5px;
}
#guess-low-high {
  font-size: 15px;
  width: 100px;
  padding: 5px 0px 5px 0px;
}
